<div>
  <form [formGroup]="formGroup">
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel class="mat-step-icon-selected">Viatura</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Selecione a Viatura</mat-label>
            <mat-select formControlName="viatura">
              <mat-option *ngFor="let viatura of viaturas" [value]="viatura">
                {{ viatura }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">
              Próximo
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" class="FormGroup">
          <ng-template matStepLabel>Abordagem</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Pessoa sem Criminal:</mat-label>
            <input matInput formControlName="pessoasSemCriminal" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Pessoa com Criminal:</mat-label>
            <input matInput formControlName="pessoasComCriminal" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Motos:</mat-label>
            <input matInput formControlName="motos" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Carros:</mat-label>
            <input matInput formControlName="carros" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ônibus:</mat-label>
            <input matInput formControlName="onibus" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Taxis:</mat-label>
            <input matInput formControlName="taxis" type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" class="FormGroup">
          <ng-template matStepLabel>Ocorrência</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Flagrantes:</mat-label>
            <input matInput formControlName="flagrantes" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Flagrantes de Roubo:</mat-label>
            <input matInput formControlName="flagrantesDeRoubo" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ocorrências Atendidas:</mat-label>
            <input matInput formControlName="ocorrenciasAtendidas" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contravenções:</mat-label>
            <input matInput formControlName="contravencoes" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ato Infracional Roubo:</mat-label>
            <input matInput formControlName="atoInfracionalRoubo" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ato Infracional:</mat-label>
            <input matInput formControlName="atoInfracional" type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup" class="FormGroup">
          <ng-template matStepLabel>Presos</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Presos em flagrante:</mat-label>
            <input matInput formControlName="presosEmFlagrante" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Sindicados:</mat-label>
            <input matInput formControlName="sindicados" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Recapturados:</mat-label>
            <input matInput formControlName="recapturados" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Armas:</mat-label>
            <input matInput formControlName="armas" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Drogas:</mat-label>
            <input matInput formControlName="drogas" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Auto Localizado:</mat-label>
            <input matInput formControlName="autoLocalizado" type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup" class="FormGroup">
          <ng-template matStepLabel>Drogas</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Maconha (kg):</mat-label>
            <input matInput formControlName="maconhaKg" suffix=" kg">

            <input matInput formControlName="maconhaKg" type="text" ngxMask="separator.2" suffix=" kg">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Cocaína (kg):</mat-label>
            <input matInput formControlName="cocainaKg" type="text" ngxMask="separator.2" suffix=" kg">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Crack (kg):</mat-label>
            <input matInput formControlName="crackKg" type="text" ngxMask="separator.2" suffix=" kg">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Total (kg):</mat-label>
            <input matInput formControlName="totalKg" type="text" ngxMask="separator.2" suffix=" kg">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sixthFormGroup">
        <form [formGroup]="sixthFormGroup" class="FormGroup">
          <ng-template matStepLabel>Trânsito</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Carro Apreendido:</mat-label>
            <input matInput formControlName="carroAprendido" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Moto Apreendida:</mat-label>
            <input matInput formControlName="motoAprendido" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Auto de Infração de Trânsito:</mat-label>
            <input matInput formControlName="ait" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Carga/Reboque/Recolhimento:</mat-label>
            <input matInput formControlName="crr" type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="seventhFormGroup">
        <form [formGroup]="seventhFormGroup" class="FormGroup">
          <ng-template matStepLabel>Rondas</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Bancárias:</mat-label>
            <input matInput formControlName="bancarias" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Comerciais:</mat-label>
            <input matInput formControlName="comerciais" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Escolar:</mat-label>
            <input matInput formControlName="escolar" type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="eighthFormGroup">
        <form [formGroup]="eighthFormGroup" class="FormGroup">
          <ng-template matStepLabel>Operação</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Visibilidade:</mat-label>
            <input matInput formControlName="visibilidade" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Bloqueio:</mat-label>
            <input matInput formControlName="bloqueio" type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="ninthFormGroup">
        <form [formGroup]="ninthFormGroup" class="FormGroup">
          <ng-template matStepLabel>Documento</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Boletim de Ocorrência PM:</mat-label>
            <input matInput formControlName="bopm" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Boletim de Ocorrência PC:</mat-label>
            <input matInput formControlName="bopc" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Registro de Ações Integradas:</mat-label>
            <input matInput formControlName="raiia" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Partes envolvidas:</mat-label>
            <input matInput formControlName="partes" type="number">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Fim</ng-template>
        <p>Registro preenchido. Clique em enviar para finalizar o registro.</p>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button (click)="onSubmit()">Enviar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
